services/.vs

#UserService
services/UserService/Migrations
services/UserService/bin
services/UserService/obj


#InterviewService
services/InterviewService/Migrations
services/InterviewService/bin
services/InterviewService/obj